[submodule "refaktor-indexer"]
	path = refaktor-indexer
	url = https://github.com/iamnotdou/refaktor-indexer.git
[submodule "refaktor-sdk"]
	path = refaktor-sdk
	url = https://github.com/iamnotdou/refaktor-sdk.git
[submodule "docs"]
	path = docs
	url = https://github.com/iamnotdou/refaktor-docs.git
